<h1>Posts</h1>

<ul>
  <% @posts.each do |post| %>
    <li>
      <p>Title: <%= link_to post.title, post %></p>
    </li>
    <li>
      <p>Author: 
        <% if user_signed_in? %>
          <%= post.user.email %>
        <% end %>
      </p>
    </li>
  <% end %>
</ul>

<%= link_to "New Post", new_post_path %>
